<html>
  <head>
    {% if title %}
    <title>{{ title }} - mypy</title>
    {% else %}
    <title>mypy</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  </head>
  <body style='align:center; border:1em;'>
    <div class='metanav'>mypy: <a href="/index">home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>